n8n_workflow_instagram_bot.json
{
    "name": "Instagram Follower Bot Tracker",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "triggerAtHour": 10
                        }
                    ]
                }
            },
            "id": "schedule-1",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://esencia-paradise-instagram-bot.rh6pum.easypanel.host/run-bot",
                "options": {
                    "timeout": 300000
                }
            },
            "id": "http-1",
            "name": "Ejecutar Bot",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// El bot ya calculó los cambios. Solo los separamos en items individuales.\nconst data = $input.first().json;\n\nif (!data.success) {\n  return [{ json: { skipped: true, error: data.error } }];\n}\n\nconst newFollowers = (data.changes?.new_followers || []).map(username => ({\n  username,\n  type: 'new_follower'\n}));\n\nconst unfollowers = (data.changes?.unfollowers || []).map(username => ({\n  username,\n  type: 'unfollower'\n}));\n\nconst all = [...newFollowers, ...unfollowers];\n\nif (all.length === 0) {\n  return [{ json: { skipped: true, message: 'Sin cambios' } }];\n}\n\nreturn all.map(item => ({ json: item }));"
            },
            "id": "code-1",
            "name": "Procesar Cambios",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "cond1",
                            "leftValue": "={{ $json.skipped }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-1",
            "name": "¿Hay cambios?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                960,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "pi9kk3cdfb014m2",
                "table": "m9o8vil7b4bsfhy",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "Username",
                            "fieldValue": "={{ $json.username }}"
                        },
                        {
                            "fieldName": "Type",
                            "fieldValue": "={{ $json.type }}"
                        }
                    ]
                }
            },
            "id": "nocodb-1",
            "name": "Guardar en NocoDB",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                1200,
                220
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "ixC19fw9lmi0MG9X",
                    "name": "NocoDB Esencia Paradise"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Ejecutar Bot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ejecutar Bot": {
            "main": [
                [
                    {
                        "node": "Procesar Cambios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Procesar Cambios": {
            "main": [
                [
                    {
                        "node": "¿Hay cambios?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Hay cambios?": {
            "main": [
                [
                    {
                        "node": "Guardar en NocoDB",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}